.logo {
  color: var(--accent-color-primary);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  &-black {
    color: #000000;
  }

  &-white {
    color: var(--accent-color-secondary);
  }
}
