:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color-primary: #2196f3;
  --accent-color-secondary: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --network-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
